@if (user) {
<mat-card class="cardWithShadow">
	@if (loading) {
	<app-loading></app-loading>
	}
	<mat-card-content class="p-0">
		<mat-tab-group mat-stretch-tabs="false" animationDuration="500ms">
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex align-items-center">
						<mat-icon> account_circle </mat-icon>
					</div>
					{{ 'HEADER.ACCOUNT.INFORMATION.TITLE' | translate }}
				</ng-template>
				<mat-card-content class="p-y-24 b-t-1">
					<div class="row">
						<div class="col-sm-6">
							<mat-card class="cardWithShadow">
								<mat-card-content class="p-y-24">
									<mat-card-title>{{
										'HEADER.ACCOUNT.INFORMATION.CHANGE_FOTO.TITLE' | translate
									}}</mat-card-title>
									<mat-card-subtitle class="mat-body-1">
										{{ 'HEADER.ACCOUNT.INFORMATION.CHANGE_FOTO.DESCRIPTION' | translate }}
									</mat-card-subtitle>
									<div class="text-center m-t-24">
										<img [src]="picture" class="rounded-circle" width="120" />
										<div class="m-t-24">
											<input
												type="file"
												class="file-input"
												(change)="selectPicture($event)"
												#fileUpload
											/>
											<button
												matButton="filled"
												color="primary"
												class="m-r-8"
												(click)="fileUpload.click()"
											>
												{{ 'HEADER.ACCOUNT.INFORMATION.CHANGE_FOTO.SELECT_BUTTON' | translate }}
											</button>
											<button matButton="outlined" color="warn">
												{{ 'HEADER.ACCOUNT.INFORMATION.CHANGE_FOTO.CLEAN_BUTTON' | translate }}
											</button>
										</div>
										<span class="f-s-14 m-t-24 d-block">
											{{ 'HEADER.ACCOUNT.INFORMATION.CHANGE_FOTO.FOTO_DESCRIPTION' | translate }}
										</span>
									</div>
								</mat-card-content>
							</mat-card>
						</div>
						<div class="col-sm-6">
							<mat-card class="b-1 shadow-none">
								<mat-card-header>
									<mat-card-title>{{
										'HEADER.ACCOUNT.INFORMATION.TITLE' | translate
									}}</mat-card-title>
								</mat-card-header>
								<mat-card-content class="b-t-1">
									<mat-list>
										<mat-list-item>
											<span matListItemTitle class="f-s-16 f-w-600">{{
												'HEADER.ACCOUNT.INFORMATION.EMAIL' | translate
											}}</span>
											<span matListItemLine class="mat-body-1">{{ user.email }}</span>
										</mat-list-item>
										<mat-list-item>
											<span matListItemTitle class="f-s-16 f-w-600">{{
												'HEADER.ACCOUNT.INFORMATION.PERMISSIONS' | translate
											}}</span>
											<span matListItemLine class="mat-body-1">{{
												user.role
													? user.role.name
													: ('HEADER.ACCOUNT.INFORMATION.NO_ROLE' | translate)
											}}</span>
										</mat-list-item>
										<mat-list-item>
											<span matListItemTitle class="f-s-16 f-w-600">{{
												'HEADER.ACCOUNT.INFORMATION.DEPARTMENTS' | translate
											}}</span>
											<span matListItemLine class="mat-body-1"></span>
										</mat-list-item>
									</mat-list>
								</mat-card-content>
							</mat-card>
						</div>
						<div class="col-12">
							<mat-card class="cardWithShadow">
								<mat-card-content>
									<mat-card-title>{{
										'HEADER.ACCOUNT.INFORMATION.PERSONAL_DATA.TITLE' | translate
									}}</mat-card-title>
									<mat-card-subtitle class="mat-body-1">
										{{ 'HEADER.ACCOUNT.INFORMATION.PERSONAL_DATA.DESCRIPTION' | translate }}
									</mat-card-subtitle>
									<form [formGroup]="formGroup">
										<div class="row m-t-24">
											<div class="col-sm-6">
												<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
													'HEADER.ACCOUNT.INFORMATION.PERSONAL_DATA.FORM.INPUT_NAME' | translate
												}}</mat-label>
												<mat-form-field appearance="outline" class="w-100" color="primary">
													<input matInput type="text" formControlName="firstName" />
												</mat-form-field>
												<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
													'HEADER.ACCOUNT.INFORMATION.PERSONAL_DATA.FORM.MARITAL_STATUS' | translate
												}}</mat-label>
												<mat-form-field appearance="outline" class="w-100" color="primary">
													<mat-select formControlName="maritalStatus">
														@for (item of MARITAL_STATUSES; track item) {
														<mat-option [value]="item.value">
															{{ item.label }}
														</mat-option>
														}
													</mat-select>
												</mat-form-field>
											</div>
											<div class="col-sm-6">
												<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
													'HEADER.ACCOUNT.INFORMATION.PERSONAL_DATA.FORM.INPUT_LAST_NAME'
														| translate
												}}</mat-label>
												<mat-form-field appearance="outline" class="w-100" color="primary">
													<input matInput type="text" formControlName="lastName" />
												</mat-form-field>
												<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
													'HEADER.ACCOUNT.INFORMATION.PERSONAL_DATA.FORM.CELL_PHONE' | translate
												}}</mat-label>
												<mat-form-field appearance="outline" class="w-100" color="primary">
													<input
														matInput
														type="text"
														mask="(00) 00000-0000"
														prefix="+55 "
														formControlName="cellphone"
													/>
												</mat-form-field>
											</div>
										</div>
									</form>
								</mat-card-content>
							</mat-card>
						</div>
					</div>
					<div class="text-right p-24 p-t-0">
						<button matButton="filled" color="primary" class="m-r-8" (click)="updateProfile()">
							{{ 'SAVE' | translate }}
						</button>
					</div>
				</mat-card-content>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex align-items-center">
						<mat-icon> lock </mat-icon>
					</div>
					{{ 'HEADER.ACCOUNT.SECURE.TITLE' | translate }}
				</ng-template>
				<mat-card-content class="p-y-24 b-t-1">
					<div class="row d-flex justify-content-center">
						<div class="col-sm-6">
							<mat-card class="cardWithShadow">
								<mat-card-content class="p-y-24">
									<mat-card-title>
										{{ 'HEADER.ACCOUNT.SECURE.FORM.TITLE' | translate }}
									</mat-card-title>
									<mat-card-subtitle class="mat-body-1">{{
										'HEADER.ACCOUNT.SECURE.FORM.DESCRIPTION' | translate
									}}</mat-card-subtitle>
									<form class="m-t-24" [formGroup]="formGroupPassword">
										<!-- input -->
										<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
											'HEADER.ACCOUNT.SECURE.FORM.NEW_PASSWORD' | translate
										}}</mat-label>
										<mat-form-field appearance="outline" class="w-100" color="primary">
											<input matInput type="password" formControlName="password" />
										</mat-form-field>
										<!-- input -->
										<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
											'HEADER.ACCOUNT.SECURE.FORM.CONFIRM_NEW_PASSWORD' | translate
										}}</mat-label>
										<mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
											<input matInput type="password" formControlName="rePassword" />
										</mat-form-field>
									</form>
								</mat-card-content>
							</mat-card>
						</div>
					</div>
				</mat-card-content>
				<div class="text-right p-24 p-t-0">
					<button matButton="filled" color="primary" class="m-r-8" (click)="updatePassword()">
						{{ 'SAVE' | translate }}
					</button>
				</div>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex align-items-center">
						<mat-icon> settings </mat-icon>
					</div>
					{{ 'HEADER.ACCOUNT.CONFIGURATIONS.TITLE' | translate }}
				</ng-template>
				<mat-card-content class="p-y-24 b-t-1">
					<mat-card class="cardWithShadow">
						<mat-card-content class="p-y-24">
							<div class="row">
								<div class="col-sm-4">
									<h6 class="f-s-16 f-w-600 mat-subtitle-1 f-s-16 m-b-16">
										{{ 'HEADER.ACCOUNT.CONFIGURATIONS.THEME_OPTION.TITLE' | translate }}
									</h6>
									<mat-button-toggle-group
										(change)="changeOptions()"
										#group="matButtonToggleGroup"
										[(ngModel)]="options.theme"
										class="customizer-button-group gap-16"
									>
										<mat-button-toggle [value]="'light'">
											<div class="d-flex align-items-center f-w-500">
												<mat-icon>light_mode</mat-icon>
												{{ 'HEADER.ACCOUNT.CONFIGURATIONS.THEME_OPTION.LIGHT' | translate }}
											</div>
										</mat-button-toggle>
										<mat-button-toggle [value]="'dark'">
											<div class="d-flex align-items-center f-w-500">
												<mat-icon>dark_mode</mat-icon>
												{{ 'HEADER.ACCOUNT.CONFIGURATIONS.THEME_OPTION.DARK' | translate }}
											</div>
										</mat-button-toggle>
									</mat-button-toggle-group>
								</div>
								<div class="col-sm-4">
									<h6 class="f-w-600 mat-subtitle-1 f-s-16 m-b-16">
										{{ 'HEADER.ACCOUNT.CONFIGURATIONS.CARD_OPTION.TITLE' | translate }}
									</h6>
									<mat-button-toggle-group
										#group="matButtonToggleGroup"
										[(ngModel)]="options.cardBorder"
										class="customizer-button-group gap-16"
									>
										<mat-button-toggle [value]="false">
											<div class="d-flex align-items-center f-w-500">
												<mat-icon>web_stories</mat-icon>
												{{ 'HEADER.ACCOUNT.CONFIGURATIONS.CARD_OPTION.SHADOW' | translate }}
											</div>
										</mat-button-toggle>
										<mat-button-toggle [value]="true">
											<div class="d-flex align-items-center f-w-500">
												<mat-icon>border_outer</mat-icon>
												{{ 'HEADER.ACCOUNT.CONFIGURATIONS.CARD_OPTION.BORDER' | translate }}
											</div>
										</mat-button-toggle>
									</mat-button-toggle-group>
								</div>
								<div class="col-sm-4">
									<h6 class="f-s-16 f-w-600 mat-subtitle-1 f-s-16 m-b-16">
										{{ 'HEADER.ACCOUNT.CONFIGURATIONS.CONTAINER_OPTION.TITLE' | translate }}
									</h6>
									<mat-button-toggle-group
										#group="matButtonToggleGroup"
										[(ngModel)]="options.boxed"
										class="customizer-button-group gap-16"
									>
										<mat-button-toggle [value]="false">
											<div class="d-flex align-items-center f-w-500">
												<mat-icon>width_full</mat-icon>
												{{ 'HEADER.ACCOUNT.CONFIGURATIONS.CONTAINER_OPTION.FULL' | translate }}
											</div>
										</mat-button-toggle>
										<mat-button-toggle [value]="true">
											<div class="d-flex align-items-center f-w-500">
												<mat-icon>width_wide</mat-icon>
												{{ 'HEADER.ACCOUNT.CONFIGURATIONS.CONTAINER_OPTION.BOXED' | translate }}
											</div>
										</mat-button-toggle>
									</mat-button-toggle-group>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-card-content>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
}
