<div class="d-flex flex-row-reverse m-b-20">
	<div>
		<button (click)="location.back()" matButton="outlined" color="primary" class="m-r-10">
			<mat-icon>arrow_back</mat-icon>
			{{ 'BACK' | translate }}
		</button>
	</div>
</div>
@if (loading) {
<app-loading></app-loading>
} @if (unit) {
<mat-card class="cardWithShadow">
	<mat-card-header>
		<mat-toolbar class="rounded">
			<mat-icon class="m-x-10">roofing</mat-icon>
			<span>{{ unit.name }}</span>
			<span class="flex-1-auto"></span>
			<app-status [status]="unit.statusStyle"></app-status>
			<button
				mat-icon-button
				class="m-l-24"
				(click)="openDialogUpsert()"
				matTooltip="{{ 'EDIT' | translate }}"
			>
				<mat-icon>edit</mat-icon>
			</button>
		</mat-toolbar>
	</mat-card-header>
	<mat-card-content>
		<div class="row">
			<div class="col-sm-6">
				<app-record-reading title="CREATED_AT">
					{{
						unit.createdAt
							? (unit.createdAt | date : 'dd/MM/yyyy - HH:mm')
							: ('NOT_PROVIDED' | translate)
					}}
				</app-record-reading>
				<app-record-reading title="UPDATED_AT">
					{{
						unit.updatedAt
							? (unit.updatedAt | date : 'dd/MM/yyyy - HH:mm')
							: ('NOT_PROVIDED' | translate)
					}}
				</app-record-reading>
				<app-record-reading title="HOME.UNITS.LABEL.WHATSAPP_NUMBER">
					{{
						unit.waPhoneNumber
							? (unit.waPhoneNumber | mask : '(00) 00000-0000')
							: ('NOT_PROVIDED' | translate)
					}}
				</app-record-reading>
				<app-record-reading title="STREET">
					{{ unit.addressStreet ? unit.addressStreet : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="ZIP_CODE">
					{{ unit.addressZipCode ? unit.addressZipCode : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="NEIGHBORHOOD">
					{{ unit.addressNeighborhood ? unit.addressNeighborhood : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="CITY">
					{{ unit.addressCity ? unit.addressCity : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="STATE">
					{{ unit.addressState ? unit.addressState : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
			</div>
			<div class="col-sm-6">
				<app-record-reading title="HOME.UNITS.LABEL.UNIT_CODE">
					{{ unit.hotelCode ? unit.hotelCode : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="HOME.UNITS.LABEL.ZOHO_CODE">
					{{ unit.hotelCode ? unit.zohoId : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="HOME.UNITS.LABEL.OPENING">
					{{ unit.opening ? unit.opening : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="HOME.UNITS.LABEL.CLOSURE">
					{{ unit.closure ? unit.closure : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="HOME.UNITS.LABEL.REGULATION">
					@if (unit.regulationUrl) {
					<a class="regulation-link" href="{{ unit.regulationUrl }}" target="_blank">
						{{ 'HOME.UNITS.LABEL.VIEW_REGULATION' | translate }}
					</a>
					} @else {
					<p class="f-s-15 m-0 p-0">{{ 'NOT_PROVIDED' | translate }}</p>
					}
				</app-record-reading>
				<app-record-reading title="HOME.UNITS.LABEL.LATITUDE">
					{{ unit.latitude ? unit.latitude : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
				<app-record-reading title="HOME.UNITS.LABEL.LONGITUDE">
					{{ unit.longitude ? unit.longitude : ('NOT_PROVIDED' | translate) }}
				</app-record-reading>
			</div>
		</div>
	</mat-card-content>
</mat-card>
}
