<h5 mat-dialog-title class="mat-subtitle-1">{{ 'CATEGORY' | translate }}</h5>
@if (loading) {
<app-loading></app-loading>
}

<mat-dialog-content class="modal-sm">
	<form [formGroup]="formGroup" class="form-small">
		<div class="row">
			<div class="col-sm-12">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'NAME' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput formControlName="name" />
				</mat-form-field>
			</div>

			<div class="col-sm-4">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'NUMBER' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput formControlName="code" />
				</mat-form-field>
			</div>

			<div class="col-sm-8">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'TYPE' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<mat-select (valueChange)="getGroup($event)" formControlName="tool">
						@for (item of tools; track item) {
						<mat-option [value]="item">
							{{ 'SYSTEM.CATEGORIES.ITEMS.FILTER.SELECT.' + item | uppercase | translate }}
						</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>

			@if (!data.isGroup) {
			<div class="col-sm-12">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
					'CATEGORIES_GROUP' | translate
				}}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<mat-select formControlName="groupId">
						@for (item of $categories | async; track item) {
						<mat-option [value]="item.id" [disabled]="!item.isActive">
							{{ item.name }}
						</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
			}
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button matButton="outlined" color="warn" mat-dialog-close [mat-dialog-close]="false">
		{{ 'CLOSE' | translate }}
	</button>
	<button matButton="filled" color="primary" (click)="onConfirm()" [disabled]="!formGroup.valid">
		<mat-icon>download_done</mat-icon>{{ 'SAVE' | translate }}
	</button>
</mat-dialog-actions>
