<h2 mat-dialog-title>Filtro</h2>
<mat-dialog-content class="mat-typography modal-sm">
	<div class="row p-x-20">
		<form [formGroup]="formGroup" class="form-small hidden-validator">
			<div class="row m-t-2">
				<div class="col-sm-12">
					<mat-label class="mat-subtitle-2 f-w-600 d-block">Nome</mat-label>
					<mat-form-field appearance="outline" class="w-100" color="primary">
						<input matInput type="text" formControlName="name" />
					</mat-form-field>
				</div>
				<div class="col-sm-4">
					<mat-label class="mat-subtitle-2 f-w-600 d-block">Código</mat-label>
					<mat-form-field appearance="outline" class="w-100" color="primary">
						<input matInput type="text" formControlName="code" />
					</mat-form-field>
				</div>

				<div class="col-sm-8">
					<mat-label class="mat-subtitle-2 f-w-600 d-block">Ferramentas</mat-label>
					<mat-form-field appearance="outline" class="w-100" color="primary">
						<mat-select formControlName="tool" multiple>
							@for (st of tools; track st) {
							<mat-option [value]="st">{{ st | translate }}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</form>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button matButton="outlined" color="warn" (click)="clear()">Limpar</button>
	<button matButton="filled" color="primary" (click)="onConfirm()">
		<mat-icon>download_done</mat-icon>Confirmar
	</button>
</mat-dialog-actions>
