<h2 mat-dialog-title>{{ 'HOME.APARTMENTS.FILTER.TITLE' | translate }}</h2>
<mat-dialog-content class="mat-typography modal-sm">
	<div class="row p-x-20">
		<form [formGroup]="formGroup" class="form-small hidden-validator">
			<div class="row m-t-2">
				<div class="col-sm-6">
					<mat-label class="mat-subtitle-2 f-w-600 d-block">
						{{ 'HOME.USERS.CLIENTS.FILTER.NAME' | translate }}
					</mat-label>
					<mat-form-field appearance="outline" class="w-100" color="primary">
						<input matInput type="text" formControlName="fullName" />
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-label class="mat-subtitle-2 f-w-600 d-block">
						{{ 'HOME.USERS.CLIENTS.FILTER.EMAIL' | translate }}
					</mat-label>
					<mat-form-field appearance="outline" class="w-100" color="primary">
						<input matInput type="text" formControlName="email" />
					</mat-form-field>
				</div>
			</div>
			<div class="row m-t-2">
				<div class="col-sm-6">
					<mat-label class="mat-subtitle-2 f-w-600 d-block">
						{{ 'HOME.USERS.CLIENTS.FILTER.CPF' | translate }}
					</mat-label>
					<mat-form-field appearance="outline" class="w-100" color="primary">
						<input matInput type="text" formControlName="cpf" />
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-label class="mat-subtitle-2 f-w-600 d-block">
						{{ 'HOME.USERS.CLIENTS.FILTER.NATIONALITY' | translate }}
					</mat-label>
					<mat-form-field appearance="outline" class="w-100" color="primary">
						<input matInput type="text" formControlName="nationality" />
					</mat-form-field>
				</div>
			</div>
		</form>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button matButton="outlined" color="warn" (click)="clear()">
		{{ 'CLEAR' | translate }}
	</button>
	<button matButton="filled" color="primary" (click)="onConfirm()">
		<mat-icon>download_done</mat-icon>
		{{ 'CONFIRM' | translate }}
	</button>
</mat-dialog-actions>
