<h2 class="f-w-500" mat-dialog-title>
	<strong>{{ action }}</strong>
</h2>
@if (loading) {
<app-loading></app-loading>
}
<mat-dialog-content class="modal-md">
	<form [formGroup]="formGroup" class="form-small hidden-validator">
		<div class="row">
			<div class="col-sm-10">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'NAME' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="name" />
				</mat-form-field>
			</div>
			<div class="col-sm-2 text-center">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'ACTIVE' | translate }}</mat-label>
				<mat-slide-toggle class="" color="primary" formControlName="isActive"></mat-slide-toggle>
			</div>
			<div class="col-sm-12">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
					'HOME.UNITS.LABEL.WHATSAPP_NUMBER' | translate
				}}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input
						matInput
						type="text"
						mask="(00) 00000-0000"
						[dropSpecialCharacters]="true"
						formControlName="waPhoneNumber"
					/>
				</mat-form-field>
			</div>

			<div class="col-sm-6">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
					'HOME.UNITS.LABEL.OPENING' | translate
				}}</mat-label>
				<app-time-picker formControlName="opening"></app-time-picker>
			</div>
			<div class="col-sm-6">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
					'HOME.UNITS.LABEL.CLOSURE' | translate
				}}</mat-label>
				<app-time-picker formControlName="closure"></app-time-picker>
			</div>
			<div class="col-sm-12">
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
					'HOME.UNITS.LABEL.REGULATION' | translate
				}}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="regulationUrl" />
				</mat-form-field>
			</div>
			<div class="col-sm-4">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'ZIP_CODE' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input
						matInput
						type="text"
						appCepValidator
						(addressDataFetched)="fillFormWithAddressData($event)"
						(cepInvalid)="handleCepInvalid()"
						[mask]="'00000-000'"
						maxlength="9"
						formControlName="addressZipCode"
					/>
				</mat-form-field>
				<!-- input -->
			</div>
			<div class="col-sm-8">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{
					'NEIGHBORHOOD' | translate
				}}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="addressNeighborhood" />
				</mat-form-field>
				<!-- input -->
			</div>
			<div class="col-sm-10">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'STREET' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="addressStreet" />
				</mat-form-field>
				<!-- input -->
			</div>
			<div class="col-sm-2">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">Nº</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="addressNumber" />
				</mat-form-field>
				<!-- input -->
			</div>

			<div class="col-sm-10">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'CITY' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="addressCity" />
				</mat-form-field>
				<!-- input -->
			</div>

			<div class="col-sm-2">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">{{ 'STATE' | translate }}</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="addressState" />
				</mat-form-field>
				<!-- input -->
			</div>
			<div class="col-sm-6">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">Latitude</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" thousandSeparator="" formControlName="latitude" />
				</mat-form-field>
				<!-- input -->
			</div>
			<div class="col-sm-6">
				<!-- input -->
				<mat-label class="mat-subtitle-2 f-w-600 d-block">Longitude</mat-label>
				<mat-form-field appearance="outline" class="w-100" color="primary">
					<input matInput type="text" formControlName="longitude" />
				</mat-form-field>
				<!-- input -->
			</div>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button matButton="outlined" color="warn" mat-dialog-close [mat-dialog-close]="true">
		{{ 'CLOSE' | translate }}
	</button>
	<button matButton="filled" color="primary" (click)="onConfirm()" [disabled]="!formGroup.valid">
		<mat-icon>download_done</mat-icon>{{ 'SAVE' | translate }}
	</button>
</mat-dialog-actions>
